
*{
    font-family: "맑은고딕";
}
.mypt{
    display:flex;
    justify-content:center;
    align-items:center;
  
}
.name{
    text-align: center;
    color: rgb(49, 49, 143);
}
nav ul {
    border-top: 2px solid rgb(162, 195, 255);
    border-bottom: 2px solid rgb(162, 195, 255) ;
    padding: 15px 20px;
    text-align: center;
}
nav ul li{
    display:inline;
    padding: 15px 20px;

}
nav ul li a:link, nav ul li a:visited{
    color: rgb(93, 94, 206);
    text-decoration: none;
}
nav ul li:hover{
    background-color: rgb(162, 195, 255);
}
.aboutme{
    text-align: center;
    padding: 40px;
    background-color: rgb(247, 247, 255);
    margin: 80px;
}
.aboutme a:link, .aboutme a:visited {
    color: rgb(67, 67, 255);
    text-decoration: none;
}
.like a:link, .like a:visited{
    color: rgb(73, 73, 173);
    text-decoration: none;
}
.like a:hover{
    background-color: rgb(84, 84, 177);
}
.like h3{
    color:rgb(0, 0, 0);
    text-align: center;
}
.like{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    color: rgb(49, 49, 143);
    padding: 40px;
    background-color: rgb(247, 247, 255);
    margin: 80px;
}
.like img{
    border-radius: 5px;
}
article>h4{
    position:relative;
    left: 100px;
}
.youtube{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
   
    padding: 40px;
    background-color: rgb(247, 247, 255);
    margin: 80px;
}
.want{
    text-align: center;
    padding: 40px;
    background-color: rgb(247, 247, 255);
    margin: 80px;
}
.schedule>table>tr{
background-color: gray;

}
.schedule{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    background-color: rgb(247, 247, 255);
    padding: 40px;
    margin: 80px;
}
.schedule th{
    background-color:rgba(201, 207, 224, 0.651);
}
.schedule td{
    background-color:rgb(215, 231, 255) ;
    
}
.schedule caption h3{
    height: 50px;
}
footer{
    background-color: rgb(247, 247, 255);
    color: rgb(73, 73, 173);
    text-align: center;
    padding: 20px;
}